@charset "UTF-8";

@font-face {
    font-family: 'bell' ;
    src: url('BellMT.ttf') format('truetype');
    font-weight: normal;
}

*{
    
    font-family: 'bell';
    font-weight: normal;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(img/pexels-lukas-rychvalsky-670720.png);
    background-size: cover;
    display: block;
    height: 450px;
}
ul{
    position: absolute;
    left: 65%;
    padding: 30px;
}
a.nav-menu{
    color: white;
    text-decoration: none;
    padding: 12px;
    font-family: 'bell';
    font-size: 20px;
    
}

    
i{
    position: absolute;
    left: 93%;
    padding-top: 25px;
    top: 3%;
    margin-left: 10px;
    
}
#banner{
    color: black;
    position: relative;
    left: 57%;
    font-size: 50px;
}
#foto-linha{
    position: relative;
    left: 47%;
}
h3{
    font-weight: bolder;
    font-family: 'bell';
    font-size: 20px;
    margin-left:10px;
    margin-right: 10px;
    padding: 20px;
    width: 50%;

   
}
#icones{
    display: flex;
    
    
    
}

.chamadas-icon{
    
    display: flex;
    padding: 20px 20px;
    align-items: center;
    min-width:31%;
    justify-content: flex-end;
    
    
}


.chamadas-icon img{
    display: flex;
    
}

#prod{
    font-size: 40px;
    text-align: center;
    margin: 45px;
    
}
#mostrar-produtos{
    display:flex;

    
}
.produtos-comprar{
    display: block;
    max-width: 40%;
    padding: 50px;
   
}
.produtos-comprar h4{
 text-align: center;
 margin-top: 15px;
 font-size: 18px;
 font-weight: 600;
}
.produtos-comprar p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
   }
.produtos-comprar img{
       height: 450px;
       position: relative;
   }
.produtos-comprar button{
    background-color: black;
    color: white;
    padding:10px 30px;
    font-size: 16px;
    border: 1px solid transparent;
    margin: 15px;
    position: relative;
    left: 32%;
    border-radius: 20px;
    cursor: pointer;

   }
   #sobre{
       background-color: #56667a60;
       max-width: 100%;
       height: 500px;
       display:flex;
       
   }
    
   #sobre-dentro img{
       max-height: 700px;
       max-width: 650px;
       padding: 40px ;
       margin-left: 20px;
       padding-top: 50px;
   }
   
  
   #sobre-dentro h1{
       font-size: 40px;
       text-align: center;
       padding: 25px;
      
   }
   #sobre-dentro p{
     text-align: justify;
       padding: 80px;
       font-size: 28px;
       font-weight: 500;
   }
   #localizacao{
       display: block;
       text-align: center;
   }
   #localizacao h1{
       
        font-size: 25pt;
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 15px;
        
   }
   #localizacao p{
       font-size: 18pt;
       padding-bottom: 25px;
   }
   .cont-localiza{
       display: flex;
       
   }
   .bloco-localizacao{
      padding: 0px 50px ;
   }
   
   .bloco-localizacao img{
       position: relative;
       max-width: 100%;
       height: auto;
   }
   .bloco-localizacao h2{
       text-align: center;
       margin-top: 10px;
       margin-bottom: 10px;
       font-weight: bold;
   }
   .bloco-localizacao p{
       text-align: justify;
       font-size: 14pt;
       margin-bottom: 15px;
   }
   .bloco-localizacao button{
       font-size: 20px;
       padding:10px 30px;
       border: 1px solid ;
       cursor: pointer;
       margin-top: 10px;
       margin-bottom: 35px;
    
   }
   #contato{
       background-image: url(img/pexels-olha-ruskykh-7504896.png);
       height: 100%;
       display: block;
       background-size: cover;
   }
   .tit-cont{
       width: 100%;
       display: flex;
       
   }
   
   .tit-cont-t h1{
        text-align: end;
        font-size: 35pt;
        text-decoration: none;
        padding-top: 35px;
        margin-right: 250px;
        
        
   }
   .tit-cont h4{
       font-size: 20pt;
       text-align:center;
}
.tit-cont img{
    height: 50px;
    
    
}
   
       



